{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form login">
        <div>
            <h1>Bravo, vous voilà dans l'espace de connexion </h1>
            <h2>( <a href="{{ path('app_register') }}">
                    oups, je ne suis pas inscrit.e</a> )</h2>
            <p>Renseignez votre email et votre mot de passe.</p>
            <form  action="{{ path('app_login') }}" method="post">

                <div>
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">

                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="_password" >

                    <button type="submit">Entrer</button>
                </div>


            </form>
        </div>
    </div>
{% endblock %}
