{% extends 'base.html.twig' %}

{% block body %}

    <div class="doingOrCreate">
        <div class="doingOrCreate-sub">
            {{ form(form) }}
        </div>

            <a href="{{ path('app_quizz_create') }}" class="doingOrCreate-sub">Créer un Quizz</a>

    </div>


{% endblock %}