{% extends 'base.html.twig' %}

{% block body %}
    <p>
    {{ quizzs|length }}
    <ul>
    {% for quizz in quizzs %}
        <li><a href="/quizz/{{ quizz.id }}">{{ quizz.title }}</a></li>
    {% endfor %}
    </ul>
    </p>
{% endblock %}